.nav-main{
    display: flex;
    width: 100vw;
    margin-top:0px;
    height: 65px;
    background-color: #131E30;
    align-items: center;
   
}

.nav-bar{
    padding-left: 100px;
    display: flex;
  
}

.nam{
    font-size: larger;
    color: white;
    font-family: sans-serif;
    font-weight: 1000;
    font-style: oblique;
}

.link{
    margin-left: 900px;
    display: flex;
    color: white;
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-items: center;
    
}

.border:hover{
color: #64ffda;
}
a{
    text-decoration: none;
    color: white;
 }


.abt{
    margin-left: 30px;

}

.work{
    margin-left: 30px;

}

.time{
    margin-left: 30px;

}

.blog{
    margin-left: 30px;

}

.contact{
    margin-left:30px;

}

#home {
    height: 45vw;
    background-color: #131E30;
    padding-top: 80px;
    color: white;
}
.container{
    background-color: #131E30;
    height: 600px;
    width: 1400px;
    margin-top: 70px;
    margin-left: 30px;
}
.hlo{
    color: aqua;
    padding-top: 100PX;
    padding-left: 40px;
    font-family: 'tahoma';
    
}
.int{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 30px;
    font-weight: 1000;
    font-size: xx-large;
    font-family: popins,sans-serif;
}

.b{
    margin-left: 90px;
    margin-top: -44px;
    color: aqua;
}
.c{
    font-weight: 100;
    font-size: 2.4rem;
}
.d{
    margin-top: 10px;
    border: none;
    height: 30px;
    width: 125px;
    font-weight: 100;
    font-size: large;
    font-family: popins,sans-serif;
    color:black ;
    background-color: #64ffda;
 border-radius: 25px;
}

.pic{
    margin-left: 1000px;
    height: 350px;
    margin-top: -125px;
    box-shadow: 50px 50px aqua;
}
.topic{
    height: 50vw;
    background-color: #131E30;
    color: white;
}
.top{
     text-align: center;
     font-size: xx-large;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bolder;
}
.info{
    margin-left: 70px;
    height: 300px;
    width: 90vw;
    background-color: #162c4e;
    text-align:justify;
    font-family: 'tahoma';
    line-height: 1.7;
}
p{
    padding-top: 30px;
    margin: 50px;
}
.logo{
    margin-top: 100px;
   border-radius: 50%;
   margin-left: 100px;
    height: 150px;
 border: 6px solid aqua; 

}
.name{
   margin-top: -120px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 210px;
}
.post{
    margin-top: -80px;
    font-size: small;
    padding-left: 215px;
}