
*{
    scroll-behavior: smooth;}
.nav-main{
    display: flex;
    width: 100vw;
    margin-top:0px;
    height: 65px;
    background-color: #131E30;
    align-items: center;
   
}

.nav-bar{
    padding-left: 100px;
    display: flex;
  
}

.nam{
    font-size: larger;
    color: white;
    font-family: sans-serif;
    font-weight: 1000;
    font-style: oblique;
}

.link{
    margin-left: 900px;
    display: flex;
    color: white;
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-items: center;
    
}

.border:hover{
color: #64ffda;
}
a{
    text-decoration: none;
    color: white;
 }


.abt{
    margin-left: 30px;

}

.work{
    margin-left: 30px;

}

.time{
    margin-left: 30px;

}

.blog{
    margin-left: 30px;

}

.contact{
    margin-left:30px;

}

#home {
    height: 45vw;
    background-color: #131E30;
    padding-top: 80px;
    color: white;
}
.container{
    background-color: #131E30;
    height: 600px;
    width: 1400px;
    margin-top: 70px;
    margin-left: 30px;
}
.hlo{
    color: aqua;
    padding-top: 100PX;
    padding-left: 40px;
    font-family: 'tahoma';
    
}
.int{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 30px;
    font-weight: 1000;
    font-size: xx-large;
    font-family: popins,sans-serif;
}

.b{
    margin-left: 90px;
    margin-top: -44px;
    color: aqua;
}
.c{
    font-weight: 100;
    font-size: 2.4rem;
}
.d{
    margin-top: 10px;
    border: none;
    height: 30px;
    width: 125px;
    font-weight: 100;
    font-size: large;
    font-family: popins,sans-serif;
    color:black ;
    background-color: #64ffda;
 border-radius: 25px;
}

.pic{
    margin-left: 1000px;
    height: 350px;
    margin-top: -125px;
    box-shadow: 50px 50px aqua;
}
.topic{
    height: 70vw;
    background-color: #131E30;
    color: white;
}
.top{
    color: #ffffff;
     text-align: center;
     font-size: xx-large;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bolder;
}
.info{
    margin-left: 70px;
    height: 300px;
    width: 90vw;
    background-color: #162c4e;
    text-align:justify;
    font-family: 'tahoma';
    line-height: 1.7;
}
p{
    padding-top: 30px;
    margin: 50px;
}
.trian{
    height: 80px;
    width: 80px;
    background-color: #162c4e;
  margin-top: -39px;
  margin-left: 300px;
  transform: rotate(-135deg);
}
.logo{
    margin-top: 100px;
   border-radius: 50%;
   margin-left: 100px;
    height: 150px;
 border: 6px solid aqua; 

}
.name{
   margin-top: -120px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 210px;
}
.post{
    margin-top: -80px;
    font-size: small;
    padding-left: 215px;
}
.ms{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: xx-large;
   font-weight: bolder;
    text-align: center;
color: aqua;
}
.html{
    color: #64ffda;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 300px;
}
.js{
    color: #ffffff;
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-style: oblique;
 font-size: larger;
 font-weight: bolder;
 padding-left: 1300px;
 margin-top: -120px;
}
.git{
    color: #32ca9c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: xx-large;
    margin-top: 100px;
    margin-left: 1000px;
}
.ps{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: xx-large;
    margin-top: -80px;
    margin-left: 600px;
}
.project{
    height: 50vw;
    background-color: #131E30;
}
.top2{
    padding-top: 10px;
    color: #ffffff;
     text-align: center;
     font-size: xx-large;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bolder;
}
.ab{
    color: #32ca9c;
    text-align: center;
    margin-top: 300px;
    font-size: xx-large;
    font-weight: bolder;
}
#contact{
    height: 45vw;
    background-color: #131E30;
    padding-top: 80px;
    color: white;
}
.Email{
    height: 90px;
   background-color: #162c4e;
   width: 300px;
   margin-left: 130px;
   padding-top: -10px;
}
.e{
padding-top: 10px ;
    
}
.gm{
   
margin-top: -70px;
margin-left: 15px;
}
.phone{
    height: 90px;
    width: 300px;
    background-color: #162c4e;
    margin-left: 650px;
    margin-top: -139px;
}
.pn{
padding-top: 10px;
}
.num{
    margin-top: -60px;
}
.ad{
    height: 90px;
    width: 300px;
    background-color: #162c4e;
    margin-left: 1200px;
    margin-top: -139px;
}
.add{
    padding-top: 10px;
}
.loc{
    margin-top: -60px;
}
/*.nc{
   text-align: center;
   justify-content: center;
    height: 60px;
    width: 300px;
    background-color: #162c4e;
    margin-left: 100px;
    margin-top: -19px;
}*/
.ne{
    background-color: #162c4e;
    border: none;
    text-align: center;
   justify-content: center;
    height: 80px;
    width: 700px;
    margin-left: 130px;
    margin-top: 100px;
    
}
.nl{
    background-color: #162c4e;
    border: none;
    text-align: center;
   justify-content: center;
    height: 80px;
    width: 700px;
    margin-left: 850px;
    margin-top: -81px; 
}
.sub{
    background-color: #162c4e;
    border: none;
    text-align: center;
   justify-content: center;
    height: 80px;
    width: 1420px;
    margin-left: 130px;
    margin-top: 10px;  
}
.msg{
    background-color: #162c4e;
    border: none;
    text-align: center;
   justify-content: center;
    height: 200px;
    width: 1420px;
    margin-left: 130px;
    margin-top: 10px;  
}
.final{
    border: none;
    background-color: #64ffda;
    height: 30px;
    width: 80px;
    margin-left: 1470px;
}